@import url(../component.css);
.heading {
  color: var(--dark-color);
}

.grid-container {
  display: grid;
  grid-template-rows: 100px auto;
}
.navbar {
  grid-row-start: 1;
  grid-row-end: 2;
}
.main-content-container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--blue);
}

/* Sidebar CSS started */
.sidebar {
  background-color: var(--light-color);
 
  bottom: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 12rem;
  z-index: 200;
}
.sidebar-logo-container {
  
  display: flex;
  position: relative;
}
.logo {
  flex: 0.5;
}
.logo-image {

  width: 6rem;
  height: 6rem;
}
.logo-text {

  display: inline;
  padding: 0px;
  margin: 0px;
  flex: 1;
  font-size: 4rem;
  font-weight: 400;
  color: var(--light-pink);
}
.close{
  display: none;
}
.sidebar-list-item {
  list-style: none;
  font-size: 18px;
  padding: 0.5rem 0.5rem;
}

/* Sidebar CSS ended */

/* Navbar CSS started */

.navbar {
  background-color: var(--light-color);
  display: flex;
  height: 5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  position: fixed;
  top: 0;
  left: 12rem;
  width: 100%;
  z-index: 100;
}

.hamburger-icon {
  cursor: pointer;
  font-size: 32px;
  margin-left: 1rem;
  margin-top: 0.8rem;
}

.menu-icon {
  display: none;
  height: 1.6rem;
  width: 2.2rem;
}
.nav-icon-container {
  position: relative;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-item {
  font-size: 20px;
  margin: 0 1.3rem;
}
.nav-social-media-icon-container {
  position: absolute;
  right: 200px;
}

.nav-icon {
  font-size: 25px;
}

/* Navbar CSS ended */

/* Section CSS started */

.section-container {
  margin-top: 100px;
  padding-left: 30px;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--blue);
  border-top-left-radius: 2rem;
}
.section-content {
  grid-column-start: 2;
  grid-column-end: 3;
}
.sections-container {
  margin: 10%;
}
.section1-container,
.section2-container {
  margin-bottom: 4rem;
}
.section1-heading {
  color: var(--light-pink);
}
.section1-text {
  font-size: 1.4rem;
  font-weight: 400;
}
.section-text {
  font-size: 1.1rem;
  font-weight: 400;
}
.section1-cards-container {
  display: flex;
  background-color: var(--light-color);
  padding: 1rem;
  justify-content: space-between;
  margin-top: 40px;
  border-radius: 2rem;
  box-shadow: 0 2px 50px rgb(0 77 167 / 20%);
}
.section-card-container {
  flex: 1;
}
.section1-text {
  color:var(--mild-blue);
  font-weight: 600;
}
.section1-card-icon {
  display: flex;
  flex: 1;
  justify-content: center;
}
.section1-card {
  padding: 0px 10px;
}
.section-card {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-header {
  flex: 1;
  text-align: center;
}
.card-content {
  flex: 1;
  text-align: center;
  margin: 0;
  font-weight: 700;
  color: var(--dark-blue);
}
.card-icon {
  align-items: center;
  font-size: 7rem;
  color: var(--light-pink);
}
.code-link {
  background-color: var(--light-color);
  box-shadow: 0 2px 50px rgb(0 77 167 / 20%);
  padding: 1rem;
  font-size: 20px;
  word-wrap: break-word;
  border-radius: 20px;
}


@media only screen and (max-width: 800px) {
  .hamburger-icon {
    cursor: pointer;
  }
  .menu-icon {
    display: block;
  }
  .sidebar {
    display: none;
    cursor: pointer;
  }
  .nav-header {
    left: 0px;
    top: 0px;
  }
  .nav-icon-container {
    display: none;
  }
  .nav-social-media-icon-container {
    right: 10px;
  }
  .nav-main-container {
    margin-left: 0px;
  }
  .section-content {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 0px;
    margin-left: 0px;
  }
  .section-content {
    margin-left: 0px;
  }
  .navbar {
    left: 0px;
  }
  .card-icon{
    font-size: 4.5rem;
  } 
  .card-header{
    font: 10px;
  }
  
}

@media only screen and(max-width:900px){
  .card-icon{
    font-size: 1rem;
  } 
}