.avatar {
  border-radius: 50%;
  margin-left: 1rem;
}
.text-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-xl-avatar,
.text-lg-avatar,
.text-md-avatar,
.text-sm-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-xl-avatar {
  font-size: 4rem;
}
.text-lg-avatar {
  font-size: 2.5rem;
}
.text-md-avatar {
  font-size: 1.5rem;
}
.text-sm-avatar {
  font-size: 1rem;
}
.xl-avatar,
.text-xl-avatar {
  width: 12rem;
  height: 12rem;
}
.large-avatar,
.text-lg-avatar {
  width: 8rem;
  height: 8rem;
}
.medium-avatar,
.text-md-avatar {
  width: 5rem;
  height: 5rem;
}
.small-avatar,
.text-sm-avatar {
  width: 2rem;
  height: 2rem;
}
