@import url(./index.css);
@import url(../component/common.css);
@import url(../component/alert/alert.css);
@import url(../component/avatar/avatar.css);
@import url(../component/badge/badge.css);
@import url(../component/button/button.css);
@import url(../component/card/card.css);
@import url(../component/form/form.css);
@import url(../component/image/image.css);
@import url(../component/lists/lists.css);

:root {
  --light-pink: #f50057;
  --mild-pink: #fbcfe8;
  --blue: #f0f8ff;
  --dark-blue: darkblue;
  --mild-blue: #2d3092;
  --sky-blue: #adeef1;
  --dark-green: #44c59d;
  --light-green: #d1fae5;
  --dark-yellow: #fbc13b;
  --light-yellow: #fef3c7;
  --secondary-color: #696b79;
  --dark-color: #323232;
  --light-color: white;
  --dark-grey: grey;
  --light-grey: #7b7b7b;
  --lighter-grey: #e6e6e6;
  --mild-grey: #d4d6db;

  /* #C9E3FF */
  /* --font:"Montserrat", sans-serif; */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.sub-content {
  font-size: 1.3rem;
  color: var(--dark-blue);
}
.outline {
  border: 1px solid var(--light-grey);
  border-radius: 0.3rem;
  padding: 1rem 1rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
